!!! 5
%html
  %head
    %title=@calendar_name
    %link{ :href => '/stylesheet.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen', :charset => 'utf-8' }
    %meta{ :name => 'viewport', :content => 'width=620' } 
  %body
    %header
      %h1=@calendar_name
      %h2 The Next #{options.lookahead} Days
    -for event in @events
      .event
        .date
          .month=to_timezone(event.start_time).strftime '%a'
          .day=to_timezone(event.start_time).strftime '%d'
        .details
          %h3=h event.summary
          -if !event.description.empty?
            .description=h event.description
          %dl
            -if !event.location.empty?
              %dt Where
              %dd=h event.location
            %dt When
            %dd=format_time_range(event.start_time, event.finish_time)
    %footer
      .subscribe
        %a{ :href => gcal_url }
          Download (iCal)
        %a{ :href => gcal_feed_url }
          Subscribe to Feed
      .fork
        Powered by <a href="http://github.com/Aupajo/sinatra-gcal">Sinatra GCal</a>.
    =erb :analytics