<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Upcoming events</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/origami.css">
  </head>
  <body>

    <%= yield %>

  </body>
</html>